@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap');

body {
  margin: 0;
  font-family: 'Ubuntu';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(120deg, #abdcff, #0396ff);
  min-height: 100vh;
  color: white;
  text-align: center;
}

.App input {
  border-radius: 50px;
  font-size: 20px;
  border: none;
  margin-top: 20px;
  padding: 8px 15px;
}

.App input:focus {
  outline: none;
}

.App button:hover {
  background-color: black;
  color: white;
}

.App form {
  margin-top: 20px;
}
