.result {
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  min-width: 25%;
  min-height: 50%;
}

.result h3,
.result h4 {
  font-weight: normal;
}

@media (max-height: 800px) {
  .result {
    top: 60%;
    min-width: 70%;
  }
}
